.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
}
.note-select{
  min-width:90px;
  color: black;
}
.C{
  color: #003399;
}
.Csharp{
  color : #0033cc

}
.D{
  color : #0066ff

}
.Dsharp{
  color : #6699ff

}
.E{
  color : #9999ff
}
.F{
  color : #cc66ff
}
.Fsharp{
  color : #ff66ff

}
.G{
  color : #ff33cc

}
.Gsharp{
  color : #cc3399

}
.A{
  color : blue
}
.Asharp{
  color : blue
}
.B{
  color : blue
}

.main-content{
  display: flex;
  flex-direction: column;
}
.result-area{
  display: flex;
  flex-direction: column;
}
.array-area{
  display: flex;
} 
.App-link {
  color: #61dafb;
}
table {
  padding: 2px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
